html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0px;
    height: 4000px;
    background-color: #1b1b32;
    font-size: 25px;
}

#nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: 100%;
    height: 40px;
    padding-top: 15px;
    top: 0px;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 5px;
    font-size: 30px;
}

#nav-bar a {
    color: white;
    text-decoration: none;
}

#nav-bar a:hover {
    color: skyblue;
}

#header-img {
    z-index: 1;
    color: white;
    margin: 12px 10px;
    width: 40px;
    height: 30px;
    position: fixed;
    filter: brightness(1.2);
}

#video {
    display: block;
    margin: auto;
    padding: 100px 0px 20px 0px;
    border: none;
}

#product-info {
    color: white;
    margin: auto;
    display: block;
    width: 900px;
    word-spacing: 5px;
}

.h_info {
    font-weight: bold;
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 20px;
}

.info {
    margin: 40px;
}

#lis-pic {
    display: block;
    margin: auto;
    width: 825px;
}

#buy {
    text-align: center;
    font-size: 25px;
}

#steam {
    text-decoration: none;
}

#steam:hover {
    color: white;
}

#steam:visited {
    color: blue;
}

#steam:link {
    color: lightskyblue;
}

#about-form {
    color: white;
}

#form {
    text-align: center;
    font-size: 18px;
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 20px;
    }

    .h_info {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 850px) {
    #video {
        width: 800px;
    }

    body {
        font-size: 17px;
    }

    #product-info {
        width: 830px;
    }
}

@media only screen and (max-width: 820px) {
    #lis-pic {
        width: 700px;
    }

    #video {
        width: 700px;
    }
}

@media only screen and (max-width: 800px) {
    #product-info {
        width: 750px;
    }
}

@media only screen and (max-width: 710px) {
    #lis-pic {
        width: 630px;
    }

    #video {
        width: 640px;
    }

    #product-info {
        width: 640px;
    }
}

@media only screen and (max-width: 635px) {
    #lis-pic {
        width: 590px;
    }

    #video {
        width: 590px;
    }
}